.footer {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-top: 1px solid rgb(205, 205, 205);

    .des {
        font-size: 19px;
        color: #090909;
        font-weight: 600;
        margin-top: 6px;
    }

    .name {
        font-size: 21px;
        color: #38A6F3;
        font-weight: bold;
        margin-top: 6px;
    }
}